
article{
    width: 90%;
    align-self: center;
    padding: 5% 0 10% 0 ;

    p {
        color: #999;
        font-family: Asap Regular;
        font-size: 12pt;
        white-space: 8px;
        text-align: justify;
        line-height: 25px;
    
    }
}

