.share{
   min-width: 40px;
    min-height: 40px;
    border-radius: 3px;
    padding: 5px;

    a{
        img{
            width: 30px;
            height: 30px;
            margin: 2px;
        }
    }

    p{
        font-family: $fonte-padrao-1;
        font-size: 12pt;
        color: #999;
    }

    .botao-share{
        background-color: transparent;
        border:none;
        font-size: 20pt;
    }
}

